{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<!-- Doctor Start -->
<section class="section doctor-list">
	<div class="container">
		<!-- doctors list -->
		<div class="row">
			<!-- doctor -->
			{{ range .Data.Pages -}}
			<div data-category="{{ .Params.Doctor | urlize }}" class="col-md-6 col-lg-6 item">
				{{ .Render "doctor" }}
			</div>
			{{ end }}
		</div>
	</div>
</section>
<!-- /Doctor End -->

{{ end }}
