{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<!-- doctor details -->
<section class="portfolio-single-page section">
  <div class="container doctor">

    <div class="row">
      <div class="col-md-5">
        <!-- alternative class img-responsive -->
        <div class="img-hover-grow">
          <img class="img-rounded w-100" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
        </div>
        <!-- Creates the bootstrap modal where the image will appear -->
        <!-- Disable for now since the source images are not large. Maybe a future enhancement -->
        <!--
        <a href="#" id="img-popup">
          <img id="img-resource" class="img-rounded w-100" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
        </a>
        <div class="modal fade" id="img-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ .Title }}</h4>
              </div>
              <div class="modal-body">
                <img src="{{ .Params.image | relURL }}" id="img-preview" >
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        -->

      </div>
      <div class="col-md-6 mb-5">
        <h2>{{ .Title }}</h2>
        <h4 class="">{{ with .Params.description }}{{ . | markdownify }}{{ end }}</h4>
        <div class="row">
          <div class="col-md-12">
            <div class="doctor-content">
              {{ .Content }}
            </div>
          </div>
        </div>
        
      </div>
    </div>

  </div>
</section>
<!-- /teacher details -->

{{ end }}
