<!-- CHERRY WIDGET BEGIN -->
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Slabo+27px&family=Lato&family=Raleway&family=Montserrat&family=Oswald&family=Poppins&family=Source+Sans+Pro&family=PT+Sans&family=Open+Sans&display=swap"
      rel="stylesheet"/>
<script>
    (function (w, d, s, o, f, js, fjs) {
        w[o] =
            w[o] ||
            function () {
                (w[o].q = w[o].q || []).push(arguments);
            };
        (js = d.createElement(s)), (fjs = d.getElementsByTagName(s)[0]);
        js.id = o;
        js.src = f;
        js.async = 1;
        fjs.parentNode.insertBefore(js, fjs);
    })(window, document, "script", "_hw", 'https://files.withcherry.com/widgets/widget.js');
    _hw(
        "init",
        {
            debug: false,
            variables: {
                slug: 'DentalArtsPractice',
                name: 'Dental Arts Practice',
            },
            styles: {
                primaryColor: '#655E7A',
                secondaryColor: '#2a3b8f30',
                fontFamily: 'Open Sans, sans-serif',
                /*
                    primaryColor: '#00c37d',
                    secondaryColor: '#00c37d10',
                    fontFamily: 'Open Sans',
                */
            },
        },
        ["all", "hero", "howitworks", "testimony", "faq", "calculator"]
    );
</script>
<div id="all"></div>
<!-- CHERRY WIDGET END -->
