<!-- The cookie message needs to be i18n -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	{{ i18n "cookie_message" }}
	<span id="js-cookie-button" class="btn btn-main btn-solid-border">{{ i18n "cookie_consent" }}</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
			});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
</script>

<!-- Cookie style -->
<style>
	.cookie-box {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		z-index: 9999;
		padding: 1rem 2rem;
		background: rgb(71, 71, 71);
		transition: all .75s cubic-bezier(.19, 1, .22, 1);
		color: #fdfdfd;
	}
	.cookie-box #js-cookie-button {
		margin-left: 1em;
	}
	.cookie-box-hide {
		display: none;
	}
</style>
