<section class="doctor section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="">
					<img class="img-responsive" src="{{ .image | relURL }}">
				</div>
			</div>
			<div class="col-md-6">
				{{ with .name }}<h3 class="mt-40">{{ . | markdownify }}</h3>{{ end }}
				{{ with .title }}<h4>{{ . | markdownify }}</h4>{{ end }}
				{{ with .content }}{{ . | markdownify }}{{ end }}
			</div>
		</div>
	</div>
</section>
