<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            {{ range site.Menus.footer }}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </div>
        <p class="copyright">{{ site.Params.copyright | markdownify }}</p>
      </div>
    </div>
  </div>
</footer>

<!-- Google Maps API -->
{{ if site.Params.gmap.enable }}
{{ if ("contact/" | relLangURL | eq .RelPermalink) }}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.Params.gmap.gmap_api }}&libraries=places&callback=initMap"></script>
{{ end }}
{{ end }}

<!-- JS plugins -->
{{ range site.Params.plugins.js }}
<script src="{{ .link | relURL }}" {{ .attributes | safeHTMLAttr }}></script>
{{ end }}

<!-- Main script -->
{{ $script := slice (resources.Get "js/script.js") (resources.Get "js/custom.js") | resources.Concat "js/bundled.js" | minify }}
<script src="{{ $script.RelPermalink }}"></script>

<!-- Cookie -->
{{ if site.Params.cookies.enable }}
{{ partial "cookie.html" . }}
{{ end }}
