<!-- Google Maps partial -->
<div class="google-maps-embed container">
	<div class="row">
		<div class="col-xs-12 w-100">
			<iframe
				class="w-100"
				height="350"
				style="border:0"
				loading="lazy"
				allowfullscreen
				src="https://www.google.com/maps/embed/v1/place?q=place_id:{{ site.Params.google_maps_embed.place_id }}&key={{ site.Params.google_maps_embed.api_key }}"
			></iframe>
		</div>
	</div>
</div>
<!-- /Google Maps partial -->
