<!-- Header -->
<header class="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Header Nav -->
        <nav class="navbar">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ "/" | relLangURL }}">
              <img src="{{ site.Params.logo | relURL }}"
                   class="img-responsive"
                   alt="{{ site.Title }}"
                   {{ if (isset $.Site.Params "logo_width") }}width="{{site.Params.logo_width}}"{{ end }}
                   {{ if (isset $.Site.Params "logo_height") }}height="{{site.Params.logo_height}}"{{ end }}
              >
            </a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
              {{ $currentPage := . -}}
              {{ range site.Menus.main -}}
              {{ if .HasChildren -}}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle{{ if $currentPage.HasMenuCurrent "main" . }} current-parent{{ end }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  {{ .Name }} <span class="ion-ios-arrow-down"></span>
                </a>
                <ul class="dropdown-menu">
                  {{ range .Children -}}
                  <li><a href="{{ .URL | relLangURL }}"{{ if $currentPage.IsMenuCurrent "main" . }} class="current"{{ end }}>{{ .Name }}</a></li>
                  {{- end }}
                </ul>
              </li>
              {{ else -}}
              <li><a href="{{ .URL | relLangURL }}"{{ if $currentPage.IsMenuCurrent "main" . }} class="current"{{ else if and (in (slice "post" "categories" "tags") $currentPage.Type) (eq .Identifier "blog") }} class="current-parent"{{ end }}>{{ .Name }}</a></li>
              {{- end }}
              {{- end }}

              <!-- Language List -->
              {{ if site.IsMultiLingual -}}
              <li>
                <select id="select-language" onchange="location = this.value;">
                  {{ $siteLanguages := site.Languages -}}
                  {{ $pageLang := .Page.Lang -}}
                  {{ $translations := "" }}{{ if eq .Page.Kind "404" }}{{ $translations = site.Home.AllTranslations }}{{ else }}{{ $translations = .Page.AllTranslations }}{{ end -}}
                  {{ range $translations -}}
                  {{ $translation := . -}}
                  {{ range $siteLanguages -}}
                  {{ if eq $translation.Lang .Lang -}}
                  {{ $selected := false -}}
                  {{ if eq $pageLang .Lang -}}
                  <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}" selected>
                    {{ .LanguageName }}
                  </option>
                  {{ else -}}
                  <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}">
                    {{ .LanguageName }}
                  </option>
                  {{- end }}
                  {{- end }}
                  {{- end }}
                  {{- end }}
                </select>
              </li>
              {{- end }}
              <!-- /Language List -->
            </ul>
          </div>
        </nav>
        <!-- /Header Nav -->
      </div>
    </div>
  </div>
</header>
<!-- /Header -->
