<head>
  <meta charset="utf-8">
  <title>{{ with .Title }}{{ . }}{{ else }}{{ site.Title }}{{ end }}</title>

  {{ "<!-- Mobile responsive metadata -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
  {{ with site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
  {{ hugo.Generator }}

  {{ "<!-- Open Graph image and Twitter Card metadata -->" | safeHTML }}
  {{ $image_path := .Params.image | default site.Params.image -}}
  {{ $image_path_local :=  printf "static/%s" $image_path -}}
  {{ $image_ext := trim (path.Ext $image_path | lower) "." -}}
  {{ if fileExists $image_path_local -}}
    <meta property="og:image" content="{{ $image_path | absURL }}" />
    {{/* If not SVG, read image aspect ratio and define Twitter Card and Open Graph width and height  */ -}}
    {{ if ne $image_ext "svg" -}}
      {{ with (imageConfig $image_path_local) -}}
      {{ if (and (gt .Width 144) (gt .Height 144)) -}}
        <meta name="twitter:image" content="{{ $image_path | absURL }}"/>
        <meta name="twitter:card" content="summary{{ if (and (gt .Width 300) (gt .Height 157) (not (eq .Width .Height))) }}_large_image{{ end }}">
      {{ end -}}
      <meta property="og:image:width" content="{{ .Width }}">
      <meta property="og:image:height" content="{{ .Height }}">
      {{ end -}}
    {{ end -}}
    <meta property="og:image:type" content="image/{{ if eq $image_ext "svg" }}svg+xml{{ else }}{{ replaceRE "^jpg$" "jpeg" $image_ext }}{{ end }}">
  {{ end -}}
  <meta name="twitter:title" content="{{ with .Title }}{{ . }}{{ else }}{{ site.Title }}{{ end }}"/>
  <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"/>
  {{ with site.Social.twitter -}}<meta name="twitter:site" content="@{{ . }}"/>{{ end -}}
  {{ range site.Authors }}
    {{ with .twitter -}}<meta name="twitter:creator" content="@{{ . }}"/>{{ end -}}
  {{ end -}}

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/google_analytics.html" . }}

  {{- with site.Params.counter -}}
  {{ if .enable -}}
  {{ with .username -}}
  {{ "<!-- counter.dev analytics -->" | safeHTML }}
  {{ $counterjs := resources.Get "js/counter.min.js" | resources.ExecuteAsTemplate "js/counter.min.js" . -}}
  <script src="{{ $counterjs.RelPermalink }}"></script>
  {{- end }}
  {{- end }}
  {{- end }}

  {{ "<!-- Plugins -->" | safeHTML }}
  {{ range site.Params.plugins.css -}}
  {{/* crossOrigin is required to allow access to Google Translate */}}
  <link rel="stylesheet" href="{{ .link | relURL }}" {{ .attributes | safeHTMLAttr }} crossOrigin="anonymous">
  {{ end }}

  {{ "<!-- Main stylesheet -->" | safeHTML }}
  {{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
  {{ $styles := slice (resources.Get "scss/style.scss") (resources.Get "scss/custom.scss") | resources.Concat "scss/bundled.scss" | toCSS $options | fingerprint "sha512" -}}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen" crossOrigin="anonymous">

  {{ "<!-- Favicon -->" | safeHTML }}
  {{ partial "favicon.html" . }}

</head>
