<!-- Service partial -->
{{ with site.GetPage "/service" }}
{{ with .Params.service }}
<section class="service feature">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {{ if or ($.IsHome) (isset $.Params "description") }}
        <div class="section-title">
          {{ if $.IsHome }}
            {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
          {{ end }}
          {{ with .description }}<p>{{ . | markdownify }}</p>{{ end }}
        </div>
        {{ end }}
      </div>
    </div>
    <div class="row">
      {{ range .service_item }}
      <div class="col-xs-12 col-sm-6 col-md-4 center-block">
        <div class="service-item">
          <!-- FIXME: This should not be hard-coded -->
          {{ if $.IsHome }}
            <a href="./service/"><span class="link-spanner"></span></a>
          {{ end }}
          <span class="icon" style="color: {{- .icon_color | safeHTML -}}">
            {{ partial "fontawesome.html" ( dict "context" $.Site "icon" .icon ) }}
          </span>
          <h4>{{ .name | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Service partial -->
