{{ with .staff }}
<section class="staff">
    <div class="container">
        <div class="row">

            <!-- Vertical layout (xs) is full width -->
            <div class="col-sm-1"></div>
            <div class="col-xs-12 col-sm-10">
                
                <!-- Inner container for the drop shadow -->
                <div class="row hover-shadow">

                    <!-- Horizontal layout, text first (md, lg) -->
                    <div class="col-xs-12 col-md-6 hidden-xs hidden-sm {{- if not (modBool $.index 2) }} hidden-md hidden-lg{{ end }}">
                        <div class="staff-body">
                            {{ with .name }}<h2 class="mt-30 staff-title">{{ . | markdownify }}</h2>{{ end }}
                            {{ with .title }}<h3>{{ . | markdownify }}</h3>{{ end }}

                            {{- $markdown := .content | markdownify -}}
                            {{ if not ( findRE "<[h|p][^>]*>" $markdown ) }}
                            <p>{{ $markdown }}</p>
                            {{ else }}
                            {{ $markdown }}
                            {{ end }}
                        </div>
                    </div>

                    <!-- Vertical layout (xs, sm) -->
                    <div class="col-sm-1 hidden-xs visible-sm"></div>
                    <!-- Image is always shown -->
                    <div class="staff-image col-xs-12 col-sm-10 col-md-6">
                        <div class="img-hover-grow">
                            <img class="img-responsive center-block" src="{{ .image | relURL }}">
                        </div>
                    </div>
                    <!-- Vertical layout (xs, sm) -->
                    <div class="col-sm-1 hidden-xs visible-sm"></div>

                    <!-- Vertical layout (xs, sm) -->
                    <div class="clearfix hidden-xs visible-sm h-0"></div>
                    <div class="col-sm-1 hidden-xs visible-sm"></div>
                    
                    <!-- Horizontal layout, image first (md, lg) -->
                    <div class="col-xs-12 col-sm-10 col-md-6 {{- if modBool $.index 2 }} hidden-md hidden-lg px-0{{ end }}">
                        <div class="staff-body">
                            {{ with .name }}<h2 class="mt-30 staff-title">{{ . | markdownify }}</h2>{{ end }}
                            {{ with .title }}<h3>{{ . | markdownify }}</h3>{{ end }}

                            {{- $markdown := .content | markdownify -}}
                            {{ if not ( findRE "<[h|p][^>]*>" $markdown ) }}
                            <p>{{ $markdown }}</p>
                            {{ else }}
                            {{ $markdown }}
                            {{ end }}
                        </div>
                    </div>
                    
                    <!-- Vertical layout (xs, sm) -->
                    <div class="col-sm-1 hidden-xs visible-sm"></div>

                </div>
                
            </div>
            <div class="col-sm-1"></div>
            
        </div>
    </div>
</section>
{{ end }}
