{{ if site.Params.preloader.enable }}
<div class="preloader">

  <!-- get image path -->
  {{ $preloaderPath := site.Params.preloader.image }}
  {{ if $preloaderPath }}

    <!-- check image existence -->
    {{ if fileExists (add `assets/` $preloaderPath) }}
      {{ $preloader := resources.Get $preloaderPath }}

      {{ if eq $preloader.MediaType.SubType "svg" }}
        <!-- svg image does not support .Width -->
        {{ .Scratch.Set "preloader" $preloader.RelPermalink }}
        {{ .Scratch.Set "preloader_fallback" $preloader.RelPermalink }}
      {{ else if eq $preloader.MediaType.SubType "gif" }}
        <!-- gif image -->
        {{ .Scratch.Set "preloader" $preloader.RelPermalink }}
        {{ .Scratch.Set "preloader_fallback" $preloader.RelPermalink }}
      {{ else }}

        <!-- image width -->
        {{ $preloader_width := $preloader.Width }}

        <!-- webp image -->
        {{ $width_webp := add (add (string $preloader_width) "x") " webp" }}
        {{ .Scratch.Set "preloader" ($preloader.Resize $width_webp).RelPermalink }}
        <!-- fallback image -->
        {{ $width := add (string $preloader_width) "x" }}
        {{ .Scratch.Set "preloader_fallback" ($preloader.Resize $width).RelPermalink }}

      {{ end }}

      <img class="img-fluid"
           loading="preload"
           decoding="async"
           src="{{.Scratch.Get `preloader`}}"
           aria-label="preloader"
           title="preloader"
           onerror="this.onerror=null;this.src='{{.Scratch.Get `preloader_fallback`}}'"
           alt="preloader"
      />

      <br/>
      <br/>
      <p>Scratch: {{ .Scratch.Get `preloader_fallback` }}</p>

    {{ end }}
    <!-- /check image existence -->

  {{ end }}

</div>
{{ end }}
