/*=================================================================
  Common CSS
==================================================================*/
@import '_variables.scss';

iframe {
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
  color: $primary-color;
}

blockquote {
  font-size: 18px;
  border-color: $primary-color;
  padding: 20px 40px;
  text-align: left;
  color: #777;
}

.navbar-toggle .icon-bar {
  background: $primary-color;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
  box-shadow: none;
  height: 45px;
  outline: none;
  font-size: 14px;

  &:focus {
    box-shadow: none;
    border: 1px solid $primary-color;
  }
}


.form-control {
  box-shadow: none;
  border-radius: 0;

  &:focus {
    box-shadow: none;
    border: 1px solid $primary-color;
  }
}


.slick-slide {
  outline: 0
}


// Button Style

.btn-main {
  background: $primary-color;
  color: $light;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 14px 35px;
  text-transform: uppercase;
  border-radius: 0;
  @include transition(all, 0.2s, ease);

  &.btn-icon {
    i {
      font-size: 16px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  &:hover {
    background: darken($primary-color, 20%);
    color: $light;
  }
}


.btn-solid-border {
  border: 1px solid $light;
  background: transparent;
  color: $light;

  &:hover {
    border: 1px solid $primary-color;
    background: $primary-color;
  }
}


.btn-transparent {
  @extend .btn-main;
  background: transparent;
  padding: 0;
  color: $primary-color;

  &:hover {
    background: transparent;
    color: $primary-color;
  }
}

.btn-large {
  padding: 20px 45px;

  &.btn-icon {
    i {
      font-size: 16px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}

.btn-small {
  @extend .btn-main;
  padding: 10px 25px;
  font-size: 12px;
}

.btn-round {
  border-radius: 4px;
}

.btn-round-full {
  border-radius: 50px;
}


.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}


.mt-10 {
  margin-top: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.btn:focus {
  color: #ddd;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.margin-0 {
  margin: 0 !important;
}


/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 40vw
  }
}

.bg-shadow {
  background-color: $light;
  box-shadow: 0 16px 24px rgba(0, 0, 0, .08);
  padding: 20px;
}

.bg-gray {
  background: #f9f9f9;
}

.bg-primary {
  background: $primary-color;
}

.bg-primary-dark {
  background: darken($primary-color, 10%);
}

.bg-primary-darker {
  background: darken($primary-color, 20%);

}

.bg-dark {
  background: #202122;
}

// This is used in the Portfolio section of the main page.
.bg-tertiary {
  background-color: #e3e3e3;
}


.section {
  padding: 100px 0;

  @include tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.section-sm {
  padding: 70px 0;
}

.title {
  padding: 20px 0 30px;

  h2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.section-title {
  margin-bottom: 70px;

  @include tablet {
    margin-bottom: 20px;
  }

  h2 {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0px;
    padding: 30px 0px;
  }

  p {
    font-style: italic;
    color: #666;
    font-family: $secondary-font;
  }
}


.section-subtitle {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;

  @include mobile-xs {
    font-size: 26px;
  }

  @include mobile {
    font-size: 24px;
  }
}


.page-title {
  padding: 100px 0;
  @extend .overly;

  .block {
    text-align: center;

    h1 {
      color: $light;
      font-weight: 300;
      letter-spacing: 0.15em;
      margin-top: 0;
      text-transform: capitalize;
    }

    p {
      color: $light;
    }
  }
}


.heading {
  padding-bottom: 60px;
  text-align: center;

  h2 {
    color: #000;
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
  }

  p {
    font-size: 18px;
    line-height: 40px;
    color: #292929;
    font-weight: 300;
  }
}


.page-wrapper {
  padding: 70px 0;

  @include tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

// Social Media Icons
.social-media-icons {
  ul {
    li {
      display: inline-block;

      a {
        font-size: 18px;
        //color: #333;
        display: inline-block;
        padding: 7px 12px;
        color: $light;

      }

      .twitter {
        background: #00aced;
      }

      .facebook {
        background: #3b5998;
        padding: 7px 18px;
      }

      .googleplus {
        background: #dd4b39;
      }

      .dribbble {
        background: #ea4c89;
      }

      .instagram {
        background: #bc2a8d;
      }
    }
  }
}


.dropdown-slide {
  position: static;

  .open > a,
  .open > a:focus,
  .open > a:hover {
    background: transparent;
  }

  &.full-width {
    .dropdown-menu {
      left: 0 !important;
      right: 0 !important;
    }
  }

  &:hover .dropdown-menu {
    //display: none;
    opacity: 1;
    display: block;
    //transform: translate(0px, 0px);
    visibility: visible;
    color: #777;
    transform: translateY(0px);
  }

  .dropdown-menu {
    border-radius: 0;
    //opacity: 1;
    //visibility: visible;
    position: absolute;
    padding: 15px;
    border: 1px solid #ebebeb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition: visibility 0.2s, opacity 0.2s, transform 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);

    @include mobile {
      transform: none;
    }
  }
}


/* Not used */
.commonSelect {
  margin-left: 10px;
  padding-right: 6px;
  position: relative;

  &:before {
    content: '\f3d0';
    font-family: $icon-font;
    position: absolute;
    right: -4px;
    top: 4px;
    font-size: 10px;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: none;
    padding: 0;
    height: auto;
    color: #555;

    &:focus {
      box-shadow: none;
      border: none;
    }
  }
}

/* Used in About */
.tabCommon {
  .nav-tabs {
    border-bottom: 0;
    margin-bottom: 10px;

    li {
      margin-right: 5px;
    }

    li.active a {
      background-color: $primary-color;
      border: 1px solid $primary-color;
      color: #ffffff;
    }

    a {
      border-radius: 0;
      background: #f9f9f9;

      &:hover {
        border: 1px solid transparent;
        background: $primary-color;
        color: $light;
      }
    }
  }

  .tab-content {
    padding: 20px;
    border: 1px solid $border-color;
  }
}

/* Not used */
.commonAccordion {
  .panel {
    border-radius: 0;
    box-shadow: none;

    .panel-heading {
      background: transparent;
      padding: 0;
    }

    .panel-title {
      position: relative;

      a {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        padding: 10px 10px;
      }

      a:before {
        color: #555;
        content: "\f209";
        position: absolute;
        right: 25px;
        font-family: $icon-font;
      }

      a.collapsed:before {
        content: "\f217";
      }
    }
  }
}

/* Not used */
.commonAccordion-2 {
  @extend .commonAccordion;
}


.list-circle {
  padding-left: 20px;

  li {
    list-style-type: circle;
  }
}


.play-icon {
  border: 1px solid $border-color;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  font-size: 30px;

  i {
    line-height: 60px;
  }
}


.alert-common {
  border-radius: 0;
  border-width: 2px;

  i {
    margin: 0 5px;
    font-size: 16px;
  }
}

.alert-solid {
  background: transparent;
  color: $primary-color;
}

.buttonPart {
  li {
    @include mobile {
      margin-bottom: 8px;
    }

    @include tablet {
      margin-bottom: 8px;
    }
  }
}


.overly {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #1d192c;
    opacity: 0.8;
  }
}

.owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $primary-color !important;
}


#success,
#error {
  display: none;
}

.sticky-top {
  position: sticky;
  top: 0;
  @include desktop {
    position: static;
  }
}


span.cloaked-e-mail:before {
  content: attr(data-domain) "\0040" attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
}

@media (min-width: 992px) {
  .row .no-float {
    display: table-cell;
    float: none;
  }
}

.img-hover-grow {
  z-index: 100;
  overflow: hidden;

  &:hover img {
    transform: scale3D(1.1, 1.1, 1);
  }

  img {
    //opacity: .6;
    @include transition(all, 0.5s, ease-out);
  }
}

/* Pseudo margins/padding from Bootstrap 4
 * https://stackoverflow.com/questions/32233489/does-bootstrap-have-builtin-padding-and-margin-classes
 */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: .25rem;
}

.m-2 {
  margin: .5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.m-5 {
  margin: 3rem;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-1 {
  margin-top: .25rem;
}

.mr-1 {
  margin-right: .25rem;
}

.mb-1 {
  margin-bottom: .25rem;
}

.ml-1 {
  margin-left: .25rem;
}

.mx-1 {
  margin-left: .25rem;
  margin-right: .25rem;
}

.my-1 {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.ml-2 {
  margin-left: .5rem;
}

.mx-2 {
  margin-right: .5rem;
  margin-left: .5rem;
}

.my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mr-3 {
  margin-right: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.ml-3 {
  margin-left: 1rem;
}

.mx-3 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.my-3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.mx-4 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mr-5 {
  margin-right: 3rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.ml-5 {
  margin-left: 3rem;
}

.mx-5 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.my-auto {
  margin-bottom: auto;
  margin-top: auto;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: .25rem;
}

.p-2 {
  padding: .5rem;
}

.p-3 {
  padding: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.p-5 {
  padding: 3rem;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pt-1 {
  padding-top: .25rem;
}

.pr-1 {
  padding-right: .25rem;
}

.pb-1 {
  padding-bottom: .25rem;
}

.pl-1 {
  padding-left: .25rem;
}

.px-1 {
  padding-left: .25rem;
  padding-right: .25rem;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.pt-2 {
  padding-top: .5rem;
}

.pr-2 {
  padding-right: .5rem;
}

.pb-2 {
  padding-bottom: .5rem;
}

.pl-2 {
  padding-left: .5rem;
}

.px-2 {
  padding-right: .5rem;
  padding-left: .5rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.pt-3 {
  padding-top: 1rem;
}

.pr-3 {
  padding-right: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.pl-3 {
  padding-left: 1rem;
}

.py-3 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.px-3 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.pr-4 {
  padding-right: 1.5rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.px-4 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pt-5 {
  padding-top: 3rem;
}

.pr-5 {
  padding-right: 3rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.pl-5 {
  padding-left: 3rem;
}

.px-5 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
