/*=================================================================
  Typography (font styles)
==================================================================*/
// Fonts are defined in _variables.scss and loaded in params.toml
@import '_variables.scss';


body {
  line-height: 1.5;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 40px;

  @include tablet {
    font-size: 34px;
  }

  @include mobile {
    font-size: 28px;
  }

  @include mobile-xs {
    font-size: 26px;
  }
}

h2 {
  font-size: 28px;

  @include mobile {
    font-size: 22px;
  }
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  color: $primary-font-color;
  font-size: 15px;
  font-family: $primary-font;
}

ul > li,
ol > li {
  color: $primary-font-color;
}
