/*=================================================================
  Theme Variables
==================================================================*/
$light: #fff;
$primary-color: #655E7A;
$secondary-color: #1bbb1b;
$success: #1bbb1b;
$black: #000;
$alert: #c7254e;
$primary-font-color: #616161;
$secondary-font-color: #424242;
$border-color: #dedede;
$primary-brand-color: #cba52d;
$secondary-brand-color: #2a3b8f;
$tertiary-brand-color: #a01f24;

/* Fonts are loaded in params.toml */
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Volkhov', serif;

/* themify-icons is not installed
 * https://themify.me/themify-icons
 */
$icon-font: 'themify-icons';
