{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section">
    <div class="container">
        {{- if and (.Param "translate_url") (.Param "translate_text") }}
        <div class="row mb-5 pb-5">
            <div class="col-lg-12 text-center">
                <a href='{{ .Param "translate_url" }}'
                   target="_blank" class="btn btn-info btn-lg" role="button">
                   {{ .Param "translate_text" }}
                </a>
            </div>
        </div>
        {{- end }}
        <div class="row">
            <div class="col-lg-12">
                {{ partial "cherry.html" . }}
            </div>
        </div>
    </div>
</section>

{{ end }}
