{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="contact-form">
	<div class="container">
		{{ with site.Params.contact_form }}{{ if .enable }}
		<div class="contact-box row">
			<div class="col-sm-12">
				<h2>{{ i18n "contact_us" }}</h2>
			</div>
			<form method="POST" {{ if .use_netlify }}name="{{ printf "contact_%s" $.Language.Lang }}" action="{{ "/message_sent" | relLangURL }}" netlify netlify-honeypot="nhp"{{ else }}name="contact" action="{{ .action | safeURL }}"{{ end }}>
			<div class="col-md-6 col-sm-12">
				<div class="block">
					<div class="form-group">
						<label for="name" hidden>{{ i18n "contact_form_name" }}</label>
						<input id="name" name="name" type="text" class="form-control" placeholder="{{ i18n "contact_form_name" }}" required>
					</div>
					<div class="form-group">
						<label for="email" hidden>{{ i18n "contact_form_email" }}</label>
						<input id="email" name="email" type="email" autocomplete="email" class="form-control" placeholder="{{ i18n "contact_form_email" }}" required>
					</div>
					<div class="form-group">
						<label for="subject" hidden>{{ i18n "contact_form_subject" }}</label>
						<input id="subject" name="subject" type="text" class="form-control" placeholder="{{ i18n "contact_form_subject" }}" required>
					</div>
					{{ if .use_netlify }}
					<div class="form-group-h">
						<input name="nhp" type="text" class="form-control" placeholder="Are you made of flesh and bone?">
					</div>
					{{ end -}}
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="block">
					<div class="form-group-2">
						<label for="message" hidden>{{ i18n "contact_form_message" }}</label>
						<textarea id="message" name="message" class="form-control" rows="4" placeholder="{{ i18n "contact_form_message" }}" required></textarea>
					</div>
					<button class="btn btn-default" type="submit">{{ i18n "submit" }}</button>
				</div>
			</div>
			</form>
		</div>
		{{ end }}{{ end }}
		<div class="contact-box row">
			{{ with site.Params.company }}
			<div class="col-md-6 col-sm-12">
				<div class="block">
					<h2>{{ i18n "address_title" }}</h2>
					<ul class="address-block list">
						{{ if isset . "location" }}<li class="list-item"><i class="icon">{{ partial "fontawesome.html" ( dict "context" $.Site "icon" "map-marker-alt" ) }}</i><span class="address-label">{{ if site.Params.contact_form.address_descriptors }}{{ i18n "location" | printf "%s: " }}{{ end }}</span><div class="item">{{ .location | markdownify }}</div></li>{{ end }}
						{{ if isset . "email" }}<li class="list-item"><i class="icon">{{ partial "fontawesome.html" ( dict "context" $.Site "icon" "envelope" ) }}</i><span class="address-label">{{ if site.Params.contact_form.address_descriptors }}{{ i18n "email" | printf "%s: " }}{{ end }}</span><div class="item">{{ partial "cloak_email" .email }}</div></li>{{ end }}
						{{ if isset . "phone" }}<li class="list-item"><i class="icon">{{ partial "fontawesome.html" ( dict "context" $.Site "icon" "phone" ) }}</i><span class="address-label">{{ if site.Params.contact_form.address_descriptors }}{{ i18n "phone" | printf "%s: " }}{{ end }}</span><div class="item">{{ .phone }}</div></li>{{ end }}
						{{ if isset . "hours" }}<li class="list-item hours"><i class="icon">{{ partial "fontawesome.html" ( dict "context" $.Site "icon" "clock" ) }}</i><span class="address-label">{{ if site.Params.contact_form.address_descriptors }}{{ i18n "hours" | printf "%s: " }}{{ end }}</span><div class="item">{{ .hours | markdownify }}</div></li>{{ end }}
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="block">
					<div class="mt-40">
						{{ $.Content }}
					</div>
					<div class="mt-40">
						<h3>{{ i18n "social_media" }}</h3>
						<ul class="social-icons">
							{{ range site.Params.social }}
							<li><a href="{{ .link | safeURL }}" target="_blank"><span
								class="icon" {{- if ne "icon_color" nil }} style="color: {{- .icon_color | safeHTML -}}"{{- end -}}>
								{{- partial "fontawesome.html" ( dict "context" $.Site "icon" .icon "category" "brands" ) -}}
							</span></a></li>
							{{ end }}
						</ul>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
		<div class="contact-box row">
			{{ if site.Params.google_maps_embed.enable }}
				{{ partial "google-maps-embed" . }}
			{{ else if site.Params.gmap.enable }}
			<div class="col-sm-12">
				<div class="block">
					<div class="google-map">
						<div class="map" id="map"
						     data-latitude="{{ site.Params.gmap.map_latitude }}"
						     data-longitude="{{ site.Params.gmap.map_longitude }}"
						     data-marker="{{ site.Params.gmap.map_marker | relURL }}"
						     data-marker-name="{{ site.Title }}"
						></div>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>

{{ end }}
