<section class="doctor">
	<div class="doctor-card hover-shadow">
		<div class="">
			<img class="img-rounded img-responsive" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
		</div>
		<div class="doctor-body">
			<a href="{{ .Permalink }}"><span class="link-spanner"></span></a>
			<h3 class="doctor-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
			<h5 class="doctor-degree">{{ with .Params.description }}{{ . | markdownify }}{{ end }}</h5>
		</div>
	</div>
</section>
