{{ define "main" }}

{{ partial "page-title.html" . }}

{{ with .Params.about }}
{{ if .enable }}
<section class="service-about section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
        {{ with .content }}<div class="mt-30">{{ . | $.Page.RenderString (dict "display" "block") }}</div>{{ end }}
      </div>
      {{ with .image -}}
      <div class="col-md-6">
        <img class="img-responsive" src="{{ . | relURL }}">
      </div>
      {{- end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- Featured Service -->
<!-- I don't think this is being used -->
{{ with .Params.featured_service }}
{{ if .enable }}
<section class="service-arrow">
  <div class="container-fluid">
    <div class="row">
      {{ range .service_item }}
      <div class="col-md-4 bg-primary bg-{{ .color }} no-float">
        <div class="block">
          <i class="{{ .icon }}"></i>
          {{ with .name }}<h3>{{ . | markdownify }}</h3>{{ end }}
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Featured Service -->

<!-- Service -->
{{ if .Params.service.enable }}
{{ partial "service.html" . }}
{{ end }}
<!-- /service -->

<!-- Call to action -->
{{ if .Params.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

<!-- Service main content -->
<!--
<section class="service-about section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
-->
<!-- /Service main content -->

{{ end }}
