{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- Service main content -->
<section class="service-about section">
  <div class="container">
    
    <div class="row">
      <div class="col-md-3">
        Partial: <span style="width: 20px;">{{ partial "fontawesome.html" ( dict "context" $.Site "icon" "wheelchair" "category" "solid" ) }}</span>
      </div>
    </div>
    <hr/>
    
    <div class="row">
      <div class="col-md-12">
        {{ .Content }}
      </div>
    </div>
    <hr/>
    
    <div class="row">
      <div class="col-md-12">

        <!--
        <br/>
        {{ range $key, $value := $.Site.Params }}
        <pre>{{ printf "%#v: '%#v'" $key $value }}</pre>
        {{ end }}
        <br/>
        -->
        
        {{ $lang := .Site.Language.Lang }}
        {{ $headlessbundle := .Site.AllPages }}
        {{ range ( .Site.AllPages ) }}
        {{ if (eq .Lang $lang) }}
        
        {{ . }} - {{ .Type }} - {{ .Translations }} - {{ .File.Dir }} - {{ .File }} - {{ .Parent }} <br/>
        {{ .Lang }} - {{ .Language }} - {{ .Site.Language.Lang }} <br/>
        {{ .IsNode }} | {{ .IsPage }} | {{ .IsSection }} | {{ .IsTranslated }} <br/>
        {{ .Sites }} - {{ .TranslationKey }} - {{ .File.UniqueID }} <br/>
        <br/>
        
        {{ end }}
        {{ end }}

        {{ with site.GetPage "/testing" }}
        This is in the /testing page.
        {{ end }}

      </div>
    </div>
  </div>
</section>
<!-- /Service main content -->

{{ end }}
