/*=================================================================
  Not Found (404) section
==================================================================*/
.page-404 {
  display: flex;
  align-items: center;
  min-height: calc(100vh - (100px + 205px));
  @include desktop {
    min-height: calc(100vh - (90px + 205px));
  }
  text-align: center;
  h1 {
    font-size: 300px;
    font-weight: bold;
    @include tablet {
      font-size: 150px;
    }
    @include mobile {
      font-size: 130px;
    }
    @include mobile-xs {
      font-size: 90px;
    }
  }
  h2 {
    text-transform:uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: bold;
    margin-top: 30px;
  }
  .btn-main {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}
