/*=================================================================
  Call to Action
==================================================================*/
.call-to-action {
  text-align: center;
  padding: 70px 0px;

  @include tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h2 {
    color: $light;
    margin: 0px;
    padding: 30px 0px;
  }

  p {
    color: $light;
  }

  .btn-main {
    padding: 15px 35px;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
