/*=================================================================
  Contact form
==================================================================*/
@import "../_variables.scss";
.contact-form {
  padding-top: 4rem;
  padding-bottom: 3rem;

  ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }

  .block {
    .form-group {
      padding-bottom: 15px;
      margin: 0;

      .form-control {
        background: #F6F8FA;
        height: 60px;
        border: 1px solid #EEF2F6;
        box-shadow: none;
        width: 100%;
      }
    }

    .form-group-2 {
      margin-bottom: 13px;

      textarea {
        background: #F6F8FA;
        height: 135px;
        border: 1px solid #EEF2F6;
        box-shadow: none;
        width: 100%;
      }
    }

    .form-group-3 {
      .captcha {
        padding-bottom: 13px;
      }
      .submit {
        padding-bottom: 13px;
      }
      button[disabled] {
        cursor: not-allowed;
      }
    }

    
    .form-group-h {
      display: none;
    }

    button {
      width: 100%;
      height: 60px;
      background: #47424C;
      border: none;
      color: #fff;
      font-size: 18px;
    }
  }
}

.address-block {
  margin-bottom: 30px;

  li {
    display: inline-block;
    width: 100%;

    position: relative;
    padding-left: 2.4rem;
    margin-bottom: 1rem;
    line-height: 3rem;

    .icon {
      position: absolute;
      left: 0;
      font-size: 1.75rem;
      line-height: 3rem;
      color: $primary-brand-color;

      .icon-svg {
        vertical-align: top;
      }
    }

    .address-label {
      width: 20%;
      display: inline-block;
      vertical-align: top;
      padding-right: 0.75rem;
      text-align: left;
      line-height: 2.1rem;
      font-size: 1.5rem;
    }

    .item {
      display: inline-block;
      padding-left: 0.75rem;
      vertical-align: top;
      line-height: 2.1rem;
    }

  }

  .hours th {
    display: none;
  }

  .hours td {
    padding-right: 0.6rem;
  }

}


.social-icons {
  margin-top: 40px;

  li {
    display: inline-block;
    margin: 0 6px;
  }

  a {
    display: inline-block;
  }

  .icon-svg {
    margin-right: 1rem;
    font-size: 2rem;
    top: 0;
  }
}

.google-map {
  position: relative;
}

.google-map .map {
  width: 100%;
  height: 300px;
}

.contact-box {
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;

  .block {
    img {
      width: 100%;
    }

    h2 {
      font-weight: 300;
      color: #000;
      font-size: 28px;
      padding-bottom: 30px;
    }

    p {
      color: #5C5C5C;
      display: block;
    }

  }
}
