/*=================================================================
  Doctor section
==================================================================*/
.doctor {

  .card-btn {
    font-size: 12px;
    padding: 5px 10px;
  }

  .flex-basis-33 {
    flex-basis: 33.3333%;
  }

  .hover-shadow {
    transition: .3s ease;

    &:hover {
      box-shadow: 0 0 25px 5px rgba(27, 39, 71, 0.15);
    }
  }

  .doctor-title {
    margin-top: 2rem;
  }

  .doctor-card {
    margin-top: 2.5rem;
    padding-bottom: 2rem;
  }

  .doctor-body {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .doctor-content {
    margin-top: 2.5rem;
  }

  .doctor-list {
    //display: flex;
    //flex-wrap: wrap;
    //flex-flow: column wrap;
  }

  .container {
    //display: flex;
  }

  /* https://stackoverflow.com/a/3494108
   * Outside div.container needs to have position:relative;
   */
  .link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.doctor-list {
  .section {
    //background-color: lightblue;
  }

  .container {
    //background-color: lightgreen;
    //flex-flow: column wrap;
  }
  .row {
    //background-color: lightpink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .item {
    //background-color: lightseagreen;
  }
}