/*=================================================================
  FAQ section
==================================================================*/

.faq {
  // Remove bullets from the TOC for the FAQ outline 
  #TableOfContents ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }

  ul {
    margin: inherit;
    padding-left: inherit;
    list-style-type: inherit;
  }

}