/*=================================================================
  Feature section
==================================================================*/
@import "../_typography.scss";
.feature {
  // img dir does not exist
  //background: url("../img/feature-bg.jpg");
  //background-position: 50% 94px;
  //background-position: center center;
  display: block;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;

  @include tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h2 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  p {
    //color: #3f3f3f;
    color: $secondary-font-color;
    margin-bottom: 20px;
  }

  .btn-view-works {
    background: #655E7A;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 30px;
  }
}
