/*=================================================================
  Fontawesome icons
  See https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4
==================================================================*/
.icon-svg {
  //display: inline-block;
  display: inline-flex;
  align-self: center;
  top: 0.125em;
  position: relative;
  vertical-align: top;
  
  svg {
    height: 1em;
    width: 1em;
  }
  .svg-baseline {
    top: 0.125em;
    position: relative;
  }
}
