/*=================================================================
  Footer
==================================================================*/
@import "../_variables.scss";
.footer {
  //background: #F5F5F5;
  background: #c2c2c2;
  //background-color: $primary-brand-color;
  min-height: 205px;
  text-align: center;
  padding-top: 67px;

  p {
    font-size: 13px;
    line-height: 25px;
    //color: #919191;
    color: #616161;
    //color: $secondary-font-color;
  }

  a {
    color: #595959;
  }

  .footer-menu {
    padding-bottom: 25px;
    
    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        padding: 0 20px;

        a {
          display: inline-block;
          color: #494949;

          &:hover {
            color: #000;
          }
        }
      }
    }
  }

  .copyright {
    a {
      font-weight: 400;
    }
  }
}
