/*=================================================================
  Google Maps Embed API widget
==================================================================*/

.google-maps-embed {
  margin: 0;
  padding: 0;
}