/*=================================================================
  Header start
==================================================================*/

header {
  //min-height: 100px;
  @include desktop {
    min-height: 90px;
  }
  background: #fff;
  // This is also set in _navigation
  //padding: 20px 0;
  
  .navbar {
    margin-bottom: 0;
    border: 0;
  }
  .navbar-brand {
    //padding-top: 5px;
  }
  
  .navbar-default {
    background: none;
    border: 0;
    .navbar-nav {
        padding-top: 10px;
      li {
        a {
          color: #333333;
          padding: 10px 26px;
          font-size: 15px;
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}
