/*=================================================================
  Message Sent section
==================================================================*/

.page-message-sent {
  display: flex;
  align-items: center;
  min-height: calc(100vh - (100px + 205px));
  @include desktop {
    min-height: calc(100vh - (90px + 205px));
  }
  text-align: center;
  h1 {
    font-size: 50px;
    font-weight: bold;
    @include mobile {
      font-size: 40px;
    }
    @include mobile-xs {
      font-size: 30px;
    }
  }
  h2 {
    text-transform:uppercase;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 30px;
  }
  .btn-main {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  img {
    width: 50%;
    max-height: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
