/*=================================================================
  Navigation menu
==================================================================*/
@import '../_variables.scss';

.navigation {
  background: #fff;
  padding: 10px 0;

  .navbar {
    margin-bottom: 0;
    border: 0;
  }

  .navbar-brand {
    //padding-top: 5px;
    padding: 5px;
    // Override Bootstrap
    height: inherit;

    /*
     * Width and height are set in Bootstrap and overrides these values set in the img tag.
     * These values are in _navigation.scss
     */
    img {
      height: 60px;
      width: auto;
    }
  }

  .navbar {
    background: none;
    border: 0;

    .navbar-nav {
      padding-top: 10px;

      a {
        color: #5C5C5C;
        padding: 10px 15px;

        font: {
          weight: 500;
          size: 14px;
        }

        text-transform: uppercase;

        &:hover,
        &:focus {
          color: #000;
          //color: $primary-brand-color;
          background: transparent;
          text-decoration-line: underline;
          text-decoration-thickness: 0.3rem;
          text-decoration-color: $primary-brand-color;
          text-decoration-style: solid;
        }
      }

      a.current {
        //color: #000;
        color: $secondary-brand-color;
        pointer-events: none;
        cursor: default;
      }

      a.current-parent {
        color: #000;
      }

      select {
        margin: 10px 15px;
      }
    }

    .dropdown-menu {
      border-radius: 0;
      border: none;
      left: -5px;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);

      a {
        text-transform: none;
        font-weight: normal;
        color: #808080;
        padding: 10px 20px;
        @include transition-multi(color 0.1s ease, padding 0.3s ease);

        &:hover {
          background: $primary-color;
          color: $light;
          padding-left: 25px;
        }
      }

      a.current {
        padding-left: 25px;
        color: $light;
        background: $primary-color;
      }
    }
  }
}

.nav .open > a {
  background: transparent;
}

// Change Bootstrap's default navbar collapse breakpoint of 768px to 992px (=desktop); source: https://silvawebdesigns.com/how-to-change-the-bootstrap-navbar-breakpoint/
@include desktop {
  .navbar-header {
    float: none;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }
}
