/*=================================================================
  Services section
==================================================================*/
.service {
  text-align: center;
  padding: 90px 0;

  @include tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .service-item {
    padding-bottom: 30px;
    margin: 1.5rem;
    position: relative;

    .icon {
      font-size: 6rem;
    }

    h4 {
      padding-top: 15px;
      margin: 0;
      font-weight: 500;
      text-transform: uppercase;
    }

    p {
      padding-top: 10px;
      margin: 0;
    }
    
  }
  
  // Make all rows the same height
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  /* https://stackoverflow.com/a/3494108
   * Outside div.container needs to have position:relative;
   */
  .link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

}

.dark-service {
  .title {
    color: $light;
  }

  .service-item {
    padding-bottom: 30px;
    text-align: center;

    i {
      font-size: 60px;
      color: $light;
    }

    h4 {
      color: $light;
      padding-top: 15px;
      margin: 0;
      font-weight: 500;
      text-transform: uppercase;
    }

    p {
      padding-top: 10px;
      margin: 0;
    }
  }
}

.service-about {
  p {
    line-height: 28px;
  }
}





.service-arrow {
  .block {
    padding: 70px 30px;

    i {
      font-size: 40px;
    }

    p {
      color: $light;
    }
  }
}




.service-list {
  .block {
    padding: 30px;
    margin-bottom: 20px;
    background: $light;
  }
}
