/*=================================================================
  Staff section
https://getbootstrap.com/docs/3.4/css/#responsive-utilities
==================================================================*/
.staff {
  margin-top: 10rem;
  //margin-bottom: 10rem;
  
  .block {
    h2 {
      padding-top: 30px;
      padding-bottom: 30px;
      margin: 0;
    }

    p {
      padding-top: 0;
      line-height: 28px;
    }

    img {
      width: 100%;
    }
  }

    .bg-red {
        background: red;
    }

    .h-0 {
        min-height: 0;
    }

    .w-0 {
        min-width: 0;
    }

  .hover-shadow {
    transition: .3s ease;

    &:hover {
      box-shadow: 0 0 25px 5px rgba(27, 39, 71, 0.15);
    }
  }
  
  .staff-image {
    padding-left: 0;
    padding-right: 0;
  }

  .staff-title {
    
  }
  
  .staff-body {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 3rem;
  }
  
  .staff-row > div {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 3rem;
  }

  .section-title {
    margin-bottom: 0;
  }
  
  .align-items-center {
    margin-left: auto;
    margin-right: auto;
  }

}

.staff > div:last-child {
  margin-bottom: 10rem;
}
